.page-header
	%h1 About us 

.row-fluid
	.span6
		%h4 Christie Skudder
		%p
			Christie has 17 years’ experience as a specialist construction lawyer, with particular expertise in Renewable energy projects.  Following a successful career in private practice with l​arge commercial firms, Christie joined RWE in 2007. He has extensive experience in the prevention, strategic planning, management and resolution of hydro-electric project, offshore and onshore wind farm disputes.  He has also drafted and negotiated numerous Renewables £multi-million international supply and construction contracts.​

	.span6
		%h4 Robert Laddle
		%p			
			Rob has 16 years’ experience within the energy industry and has held senior​ legal and commercial management roles within various business areas of RWE.  During this period he provided​​​​ general commercial and project support to the retail, generation, trading and energy service divisions of RWE in the UK and the international division of its predecessor National Power. From May 2010 until the end of 2012, Robert provided day-to-day commercial and corporate legal support to all areas of RWE Npower Renewables.