.page-header
	%h1 Contact us 

.row-fluid
	.span4
		%h4 Christie Skudder Director
		%p
			%a{ href:"mailto:skudder@renewlegal.com" }
				skudder@renewlegal.com
			%br
			01179 856 928 
			%br
			07702 345 293
			%br
			
		
	.span4
		%h4 Rob Laddle Director
		%p
			%a{ href:"mailto:laddle@renewlegal.com" }
				laddle@renewlegal.com
			%br
			01179 856 928 
			%br
			07795 418 602
			%br

	.span4		
		%p
			Westpoint
			%br
			78 Queens Road
			%br
			Clifton
			%br
			Bristol
			%br
			BS8 1QU