.page-header
	%h1 Renew Legal 
    
%p.lead
	Renew Legal ​is a niche law firm created to provide truly specialist legal support to renewable energy projects and in-house legal functions. We offer a hybrid solution to the headcount and financial constrain​ts facing many in-house legal and project teams.
%p
	Our service combines the flexibility and expertise of a traditional on-call law firm with the added value of experienced in-house renewable energy specialist lawyers providing expert, commercial and highly cost-effective advice. ​
%p
	U​sing our hands-on experience and understanding of renewable energy projects,we provide our services where they're most effective – as an in-house, integral, proactive and valued part of our client's legal and project team.​ 
%br


%p.lead
	%strong
		Comming soon ....
%p
	We are currently building a exciting new site that will: look amazing; be much more informative; show case the projects we have worked on and better reflect our unique approach to working within this industry.

	Watch this space...   	
		